<p class="text-center text-slate-500">
    You have <span id="click-left"><%= click_left %></span> converts left.<br>
    <a href="/upgrade" class="font-bold text-amber-600">Upgrade</a> 
    for unlimited converts. <br>
    Already a supporter? <a href="/login" class="underline">Login</a>
</p>