<div id="converter" class="container max-w-80 mx-auto">
    <div class="mt-5">
        <p class="indent-1 text-slate-600 mb-1">Convert Length</p>
        <form id="convert-form" method="POST" hx-post="/length" hx-target="#result-box">
        
        <input type="text" name="value" class="border-2 border-gray-300 p-2 rounded-lg w-full" placeholder="Enter unit to convert" required>
        <p id="error-info"></p>

        <label class="mt-3 inline-block text-slate-600" for="first-unit">From:</label>
        <select data-prev-Unit="m" id="first-unit" name="firstUnit" form="convert-form" class="cursor-pointer bg-slate-100 rounded">
            <option value="m" selected="selected">Meter</option>
            <option value="mm">Milimeter</option>
            <option value="cm">Centimeter</option>
            <option value="km">Kilometer</option>
            <option value="inch">Inch</option>
            <option value="yard">Yard</option>
            <option value="mile">Mile</option>
        </select>

        <label class="ml-3 text-slate-600" for="sec-unit">To:</label>
        <select data-prev-Unit="cm" id="sec-unit" name="secUnit" form="convert-form" class="cursor-pointer bg-slate-100 rounded">
            <option value="m">Meter</option>
            <option value="mm">Milimeter</option>
            <option value="cm" selected="selected">Centimeter</option>
            <option value="km">Kilometer</option>
            <option value="inch">Inch</option>
            <option value="yard">Yard</option>
            <option value="mile">Mile</option>
        </select>

        <button type="submit" class="btn-normal mt-3">
        Convert</button>
        </form>
    </div>
</div>