<div class="container max-w-96 mx-auto mt-10">
    <p class="indent-1 text-slate-600 mb-1">Result of your calculation</p>
    <p class="block text-3xl mt-3 mb-2 text-center text-blue-500 font-bold"> <%= result %> </p>
</div>
<p hx-swap-oob="true" id="error-info"></p>