<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs', {title: "JBZ Converter"}) %>
<body class="font-lexend">
    <h1 class="text-center mt-3">JBZ Converter</h1>

    <nav class="flex flex-row justify-center gap-10 mx-10 mt-6">
        <a class="nav-link" href="#" hx-get="/length" hx-target="#converter-box">Length</a>
        <a class="nav-link border-transparent" href="#" hx-get="/temperature" hx-target="#converter-box">Temperature</a>
        <a class="nav-link border-transparent" href="#" hx-get="/weight" hx-target="#converter-box">Weight</a>
    </nav>

    <% if (user) { %>
        <div class="flex flex-row justify-end px-3 max-w-80 mx-auto mt-3">
            <p class="text-sm text-slate-500 px-3">Welcome <%= user %></p>
            <a href="/logout" class="text-sm underline text-slate-500">Logout</a>
        </div>
    <% } %>

    <% if (!user) { %>
    <div id="upgrade" hx-get="/update-click" hx-trigger="newClick from:body" class="mt-3 max-w-80 mx-auto py-2 rounded bg-slate-100">
        <%- include('widgets/clickBanner.ejs') %>
    </div>
    <% } %>

    <main id="converter-box" class="px-3">
        <%- include('widgets/length.ejs') %>
    </main>

    <section id="result-box"></section>
    
    <script src="script.js"></script>
</body>
</html>