<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs', {title: "Login"}) %>
<body class="font-lexend">
    <h1 class="text-center mt-3"><a href="/">JBZ Converter</a></h1>
    <main class="container max-w-80 mx-auto mt-6">
        <h2 class="px-2 mb-2">Login</h2>
        <form hx-post="/login" hx-swap="none" class="flex flex-col">
            <input class="border-1 border-slate-300 py-1 px-1 rounded mb-2" type="text" name="username" placeholder="Username">
            <input class="border-1 border-slate-300 py-1 px-1 rounded mb-2" type="password" name="password" placeholder="Password">
            <button type="submit" class="btn-normal">Login</button>
            <a class="btn-grey text-center mt-2" href="/">Back</a>
        </form>
        <p id="error-info"></p>
    </main>
</body>
</html>